* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #fff;
    --cor2: #70e3ea;
    --cor3: #34344e;
    --cor4: #89a7b1;
    --cor5: #cbdad5;
    --cor6: #443444;
}

body {
    background-color: #34344e;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #89a7b1;
    min-height: 50px;
}

.img-header {
    max-width: 60px;
    height: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: var(--cor1);
}

.link:hover {
    color: var(--cor3);
}

.link-action {
    width: 100px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    color: var(--cor1);
    border: 1px solid var(--cor1);
    padding: .3rem;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
}

button {
    padding: .3rem;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
}

.action {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--cor1);
}

#enter {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 3rem;
}

.inicio {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.inicio #um {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}

h1 {
    font-size: 3rem;
    color: var(--cor1);
    letter-spacing: 5px;
}

h2 {
    text-align: center;
}

strong {
    color: #70e3ea;
}

.inicio p {
    color: var(--cor1);
}

.img-main {
    padding: 1rem;
}

.img-profile {
    border-radius: 50%;
    width: 100%;
}

#conhecimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--cor4);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

ul li {
    letter-spacing: 2px;
    font-weight: bold;
}

#eu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#carregar {
    text-align: center;
    padding-top: 20px;
}

#eu .eu-title {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#eu .eu-title p {
    max-width: 600px;
    color: var(--cor1);
}

footer {
    background-color: var(--cor3);
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#title {
    font-size: 50px;
    text-align: center;
    color: var(--cor1);
}

#pa {
    line-height: 30px;
}

#fim {
    display: flex;
    gap: 2rem;
}

#MeusProjetos {
    background-color: #89a7b1;
}
/* ... outros estilos ... */
#MeusProjetos #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cria um layout responsivo em grid */
    gap: 20px;
    padding: 20px;
    justify-items: center; /* Centraliza os itens no grid */
}

.projeto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-decoration: none;
    color: var(--cor6);
    transition: transform 0.3s ease-in-out;
}

.projeto-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff; /* Ou outra cor de sua preferência ao passar o mouse */
    background-color: var(--cor3); /* Ou outra cor de sua preferência ao passar o mouse */
}

.projeto-imagem {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.projeto-nome {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
}